title {
  width: 180px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 60px 0;

  p {
    text-align: center;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    margin: 0;
  }

  img {
    width: 320px;
    border-radius: 20px;
    border: 2px solid var(--color-text);
  }
}

.div_total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .div_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-btn-secondary);
    width: 100%;
    padding: 0;

    .div_p {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid var(--color-text);
      width: 100%;

      p {
        color: var(--color-text);
        font-weight: 600;
        font-size: 18px;
        padding: 5px;
        width: 100%;
        margin: 0;
      }

      .condition {
        color: yellow;
      }

      .wait {
        color: lightblue;
      }

      p:first-child {
        border-right: 2px solid var(--color-text);
      }
    }

    .div_orden {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: var(--color-btn-tertiary);
      width: 100%;
      border-bottom: 2px solid var(--color-text);

      p {
        font-size: 30px;
        font-weight: 600;
        color: var(--color-text);
        border-bottom: none;
        padding: 10px;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.div_items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  ion-item {
    --background: var(--color-btn-primary);
    --padding-top: 10px;
    --padding-bottom: 10px;
    border-bottom: 2px solid var(--color-text);
    width: 100%;
  }

  ion-label,
  ion-note,
  small,
  .name {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-text);
  }

  small {
    font-size: 18px;
  }
}

.div_btn_recibido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 15px 0;

  .btn-tertiary {
    border: 2px solid var(--color-text);
    margin: 0;
    --border-radius: 12px;
    border-radius: 12px;
    font-weight: 800;
    height: 48px;
  }
}
