.ion-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

title {
  width: 180px;
}

.item_calificacion,
.item_comida,
.item_espera,
.item_opinion {
  --background: var(--color-btn-primary);
  border: 2px solid var(--color-text);
  border-radius: 20px;
  margin: 10px 0;
}

.item_calificacion {
  margin: 0 0 10px 0;
}

.item_opinion {
  margin-bottom: 10px;
}

.calificacion,
.comida,
.espera,
.opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  p {
    font-size: 22px;
    color: var(--color-text);
    font-weight: 600;
    text-decoration: underline;
    letter-spacing: 1px;
  }

  span {
    font-size: 18px;
    color: var(--color-text);
  }

  ion-range {
    --bar-background: var(--color-text);
    --bar-background-active: var(--color-text);
    --pin-color: var(--color-black);
    --pin-background: var(--color-text);
  }

  ion-range::part(pin) {
    font-size: 14px;
    font-weight: 600;
  }
}

.comida,
.espera {
  p {
    margin-bottom: 5px;
  }
}

.p_calificacion {
  margin: 22px 0 0 0;
}

.span_calificacion {
  font-size: 22px !important;
  color: var(--color-text);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 0;
}

ion-segment {
  padding: 10px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ion-segment-button {
  --padding-end: 0;
  --padding-start: 0;
  font-weight: 600;
  --color: var(--color-black);
  --color-checked: var(--color-black);
  grid-row: unset;
  --border-radius: 20px;
  width: 150px;
  border: 2px solid var(--color-black);
  --background-checked: var(--color-text);
  --indicator-color: none;
}

ion-segment-button.activo::part(native) {
  border-radius: 20px;
  -webkit-box-shadow:
    #FFF 0 -1px 2px,
    #ff0 0 -1px 5px,
    #ff8000 0 -1px 10px,
    red 0 -1px 20px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  box-shadow:
    0 -1px 2px #fff,
    0 -1px 5px #ff0,
    0 -1px 10px #ff8000,
    0 -1px 20px red;
}

ion-textarea {
  --padding-top: 0;
  color: var(--color-text);
  font-weight: 600;
  font-size: 18px;
}

.btn-secondary {
  border: 2px solid var(--color-text);
  align-self: center;
  margin: 6px 0 0 0;
}

.dark_green {
  --background: #177b58;
}

.light_green {
  --background: #90EE90;
}

.yellow {
  --background: #FFF085;
}

.red {
  --background: #e34237;
}