@if (loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Encuesta Nueva</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    <ion-item class="item_calificacion">
      <div class="calificacion">
        <p>Calificación General (1-10)</p>
        <ion-range min="1" max="10" step="1" snaps="true" [(ngModel)]="calificacionGeneral">
          <span slot="start">1</span>
          <span slot="end">10</span>
        </ion-range>
      </div>
    </ion-item>

    <ion-item class="item_comida">
      <div class="comida">
        <p>Calidad de la Comida</p>
        <ion-segment class="seg_comida" [(ngModel)]="calidadComida">
          <ion-segment-button class="dark_green" value="excelente" [class.activo]="calidadComida==='excelente'">Excelente</ion-segment-button>
          <ion-segment-button class="light_green" value="aceptable" [class.activo]="calidadComida==='aceptable'">Aceptable</ion-segment-button>
          <ion-segment-button class="yellow" value="regular" [class.activo]="calidadComida==='regular'">Regular</ion-segment-button>
          <ion-segment-button class="red" value="mala" [class.activo]="calidadComida==='mala'">Mala</ion-segment-button>
        </ion-segment>
      </div>
    </ion-item>

    <ion-item class="item_espera">
      <div class="espera">
        <p>Tiempo de Espera</p>
        <ion-segment [(ngModel)]="tiempoEspera">
          <ion-segment-button class="light_green" value="bajo" [class.activo]="tiempoEspera==='bajo'">Bajo</ion-segment-button>
          <ion-segment-button class="yellow" value="razonable" [class.activo]="tiempoEspera==='razonable'">Razonable</ion-segment-button>
          <ion-segment-button class="red" value="excesivo" [class.activo]="tiempoEspera==='excesivo'">Excesivo</ion-segment-button>
        </ion-segment>
      </div>
    </ion-item>

    <ion-item class="item_opinion">
      <div class="opinion">
        <p position="stacked">Opinión General</p>
        <ion-textarea placeholder="Escriba aquí su opinión..." auto-grow="true" [(ngModel)]="opinion"></ion-textarea>
      </div>
    </ion-item>

    <ion-button class="btn-secondary" (click)="enviar()" [disabled]="calificacionGeneral==null || !calidadComida || !tiempoEspera">
      Enviar
    </ion-button>
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" (click)="volver()">
      Volver
    </button>
    <hr>
  </footer>
}