form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-field,
.ion-item-text-area {
  --background: transparent;
  --border-width: 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  --highlight-color-focused: transparent;
  border-radius: 12px;
  width: 300px;
}

.input-field {
  height: 60px;
}

ion-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-input);
  --color: var(--color-text);
  --placeholder-color: var(--color-text);
  --placeholder-opacity: 1;
  border-radius: 12px;
  padding: 0.75rem 1rem !important;
  border: 1px solid var(--color-text);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 20px;
}

ion-input {
  height: 60px;
  font-size: 20px;
}

ion-button {
  --background: transparent;
  --background-activated: rgba(215, 184, 153, 0.2);
  --color: var(--color-text);
  --border-color: var(--color-text);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 12px;
  border-radius: 12px;
  font-weight: 600;
  height: 44px;
}

.error {
  text-align: center;
  color: var(--color-error);
  font-weight: 800;
  font-size: 17px;
  background-color: var(--color-btn-primary);
  border: 1px solid var(--color-black);
  padding: 5px 10px;
  border-radius: 12px;
}

.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;

  .each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 12px 12px;
    border: 2px solid var(--color-text);
  }

  .slot {
    display: grid;
    align-items: start;
    justify-content: start;
    gap: 8px;
    width: 100px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  .span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    width: 100%;
    border-radius: 0 0 8px 8px;
    border-top: 2px solid var(--color-text);

    span {
      color: var(--color-text);
      font-size: 18px;
      font-weight: 600;
      padding: 5px;
    }
  }
}
