/* ------------------ Fondo general ------------------ */
ion-content {
  --background: #bb714e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* ------------------ Formulario ------------------ */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #f8f5f0d2;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
}

/* ------------------ Inputs ------------------ */
.input-field,
.ion-item-text-area {
  --background: #d7b899;
  --border-width: 0px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --highlight-color-focused: transparent;
  border-radius: 12px;
  width: 300px;
}

.input-field {
  height: 60px;
}

ion-input,
ion-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: #554738;
  --placeholder-color: #554738;
  border-radius: 12px;
  padding: 0.75rem 1rem !important;
  border: 1px solid #d3a87c;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  font-weight: 600;
}

ion-input {
  height: 60px;
}

/* ------------------ Fotos contenedor ------------------ */
.fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 6px;
  margin: 5px 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.slot-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 120px;
}

.slot {
  width: 100%;
  background: #fffdf9;
  border: 1px dashed #d3a87c;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-sizing: border-box;
}

.slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #d3a87c;
}

.slot ion-card-content {
  padding: 0;
  height: 100%;
  display: flex;
}

/* ------------------ Botones fotos ------------------ */
.acciones {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.acciones ion-button {
  --background: #d7b899;
  --color: #554738;
  --border-radius: 4px;
  --padding-start: 2px;
  --padding-end: 2px;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  height: 22px;
  margin: 0 auto;
}

/* ------------------ Botón principal ------------------ */
ion-button[expand="block"] {
  --background: #d7b899;
  --color: #bb714e;
  --border-radius: 12px;
  font-weight: 800;
  height: 48px;
}

/* ------------------ Mensajes ------------------ */
ion-text {
  text-align: center;
}

ion-label[color="danger"] {
  font-size: 0.9rem;
  font-weight: 600;
  color: #bb2d3b !important;
  text-align: center;
}

ion-label[color="success"] {
  font-size: 1rem;
  font-weight: 600;
  color: #2e7d32 !important;
  margin-top: 5px;
  text-align: center;
}

/* ------------------ Botón volver ------------------ */
.volver {
  --background: #d7b899;
  --color: #bb714e;
  --border-radius: 12px;
  font-weight: 800;
  height: 48px;
  margin-top: 0px;
}

.btn_guardar {
  --background: #554738 !important;
  color: white !important;
  --border-radius: 12px;
}

.volver {
  color: #554738 !important;
  --background: white !important;
  border: 2px solid #554738;
  --border-radius: 12px;
  border-radius: 12px;
  font-weight: 800;
}
