@if(loading) {
  <app-loading/>
} @else {
  <header>
    <title>Agregar Bebida</title>
  </header>

  <ion-content class="ion-padding">
    <form [formGroup]="formAltaBebida" novalidate>
      <ion-item lines="none" class="input-field">
        <ion-input 
          placeholder="Nombre"
          formControlName="nombre"
          autocomplete="off">
        </ion-input>
      </ion-item>
      <app-form-errors *ngIf="f.nombre.touched && f.nombre.invalid" [control]="f.nombre"></app-form-errors>

      <ion-item lines="none" class="ion-item-text-area">
        <ion-textarea 
          placeholder="Descripción" 
          formControlName="descripcion" 
          autoGrow="true"
          autocomplete="off">
        </ion-textarea>
      </ion-item>
      <app-form-errors *ngIf="f.descripcion.touched && f.descripcion.invalid" [control]="f.descripcion"></app-form-errors>

      <ion-item lines="none" class="input-field">
        <ion-input 
          type="number" 
          inputmode="numeric"
          placeholder="Tiempo (min)" 
          formControlName="tiempo_elaboracion_min"
          autocomplete="off">
        </ion-input>
      </ion-item>
      <app-form-errors *ngIf="f.tiempo_elaboracion_min.touched && f.tiempo_elaboracion_min.invalid" [control]="f.tiempo_elaboracion_min"></app-form-errors>

      <ion-item lines="none" class="input-field">
        <ion-input 
          type="number" 
          inputmode="decimal"
          placeholder="Precio" 
          formControlName="precio"
          autocomplete="off">
        </ion-input>
      </ion-item>
      <app-form-errors *ngIf="f.precio.touched && f.precio.invalid" [control]="f.precio"></app-form-errors>

      <div class="fotos">
        <div class="slot-contenedor" *ngFor="let c of fotosFA.controls; let i = index">
          <ion-card class="slot">
            <ion-card-content>
              <ion-img *ngIf="c.value" [src]="c.value" alt="Foto {{i + 1}}"></ion-img>
            </ion-card-content>
          </ion-card>

          <div class="acciones">
            <ion-button (click)="elegirFoto(i,'cam')">Cámara</ion-button>
            <ion-button (click)="elegirFoto(i,'gal')">Galería</ion-button>
          </div>
        </div>
      </div>
      <ion-item *ngIf="fotosFA.invalid && (fotosFA.dirty || fotosFA.touched)" lines="none">
        <ion-label color="danger">Debe cargar las 3 fotos</ion-label>
      </ion-item>

      <ion-button class="btn_guardar" expand="block" [disabled]="formAltaBebida.invalid || !!err" (click)="enviar()">
        Guardar
      </ion-button>

      <ion-button class="volver" expand="block" href="/home">
        Volver
      </ion-button>

      <!-- Mensajes de éxito -->
      <ion-item *ngIf="ok" lines="none">
        <ion-label color="success">Bebida creada con éxito 🍹</ion-label>
      </ion-item>

      <!-- Mensaje de error de acceso -->
      <ion-item *ngIf="err && !ok" color="danger" lines="none" padding-top="5px">
        <ion-label class="ion-text-center">{{ err }}</ion-label>
      </ion-item>
      </form>
  </ion-content>
}