@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Alta Plato</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    <form [formGroup]="formAltaPlato" novalidate>
      <ion-item class="ion-item-input">
        <ion-input class="input" placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
      @if(f.nombre.touched && f.nombre.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.nombre"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-text-area">
        <ion-textarea placeholder="Descripción" formControlName="descripcion" autoGrow="true"></ion-textarea>
      </ion-item>
      @if(f.descripcion.touched && f.descripcion.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.descripcion"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-input">
        <ion-input class="input" type="number" inputmode="numeric" placeholder="Tiempo (minutos)" formControlName="tiempo_elaboracion_min"></ion-input>
      </ion-item>
      @if(f.tiempo_elaboracion_min.touched && f.tiempo_elaboracion_min.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.tiempo_elaboracion_min"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-input">
        <ion-input class="input" type="number" inputmode="decimal" placeholder="Precio" formControlName="precio"></ion-input>
      </ion-item>
      @if(f.precio.touched && f.precio.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.precio"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-input">
        <ion-checkbox formControlName="esPostre" labelPlacement="start" class="chk-postre">¿Postre?</ion-checkbox>
      </ion-item>

      <div class="fotos">
          @for (c of fotosFA.controls; track $index; let i = $index) {
            <div class="each">
              <div class="slot">
                <img [src]="c.value || placeholderUrl" alt="foto {{ i + 1 }}"> 
              </div>
              <div class="span" type="button" (click)="eliminarFoto(i)">
                <span>Eliminar</span>
              </div>
            </div>
          }
      </div>

      @if(faltanFotos > 0) {
        @if(faltanFotos === 1) {
          <div class="error warning">
            <span class="fotos-hint">Falta 1 foto<br>Se necesitan 3 fotos</span>
          </div>
        } @else {
          <div class="error">
            <span class="fotos-hint">Faltan {{ faltanFotos }} fotos<br>Se necesitan 3 fotos</span>
          </div>
        }
      }

      <ion-button class="btn-secondary" type="button" (click)="elegirFotos()">Tomar Fotos</ion-button>

      <ion-button class="btn-primary" [disabled]="formAltaPlato.invalid" (click)="enviar()">Guardar</ion-button> 
      <ion-button class="btn-tertiary" href="/home">Volver</ion-button> 
    </form>
  </ion-content>
}