@if(loading) {
  <app-loading/>
} @else {
  <ion-header>
    <ion-toolbar>
      <ion-title>Agregar Plato</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <form [formGroup]="formAltaPlato" novalidate>
      <ion-item class="ion-item-input">
        <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
      @if(f.nombre.touched && f.nombre.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.nombre"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-text-area">
        <ion-textarea placeholder="Descripción" formControlName="descripcion" autoGrow="true"></ion-textarea>
      </ion-item>
      @if(f.descripcion.touched && f.descripcion.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.descripcion"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-input">
        <ion-input type="number" placeholder="Tiempo (min)" formControlName="tiempo_elaboracion_min"></ion-input>
      </ion-item>
      @if(f.tiempo_elaboracion_min.touched && f.tiempo_elaboracion_min.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.tiempo_elaboracion_min"></app-form-errors>
        </ng-container>
      }

      <ion-item class="ion-item-input">
        <ion-input type="number" inputmode="decimal" placeholder="Precio" formControlName="precio"></ion-input>
      </ion-item>
      @if(f.precio.touched && f.precio.invalid) {
        <ng-container>
          <app-form-errors color="white" [control]="f.precio"></app-form-errors>
        </ng-container>
      }

      <div class="fotos">
        @for (c of fotosFA.controls; track $index; let i = $index) {
          <div class="slot">
            @if(!!c.value) { <img [src]="c.value" alt="foto {{ i + 1 }}"> }
            <div class="acciones">
              <ion-button class="btn_slot_cam" size="small" (click)="elegirFoto(i,'cam')">Cámara</ion-button>
              <ion-button class="btn_slot_pho" size="small" (click)="elegirFoto(i,'gal')">Galería</ion-button>
            </div>
          </div>
        }
      </div>
      @if((!!fotosFA.touched || !!fotosFA.dirty) && !!fotosFA.invalid) {
        <app-form-errors color="white" [control]="fotosFA"></app-form-errors>
      }

      <ion-button class="btns_main" expand="block" [disabled]="formAltaPlato.invalid" (click)="enviar()">Guardar</ion-button> 
      <ion-button class="btns_main_back" expand="block" routerLink="/home">Volver</ion-button> 
      
      @if(err) {<ion-item class="ion-error" lines="none">{{ err }}</ion-item>}

      @if(ok) {<ion-item class="ion-success" lines="none">Plato Creado</ion-item>}
    </form>
  </ion-content>
}