form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ion-item-input,
.ion-item-text-area {
  --background: #d7b899;
  --border-width: 0px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --highlight-color-focused: transparent;
  border-radius: 12px;
  width: 300px;
}

.ion-item-input {
  height: 60px;
}

ion-input,
ion-textarea,
ion-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: #554738;
  --placeholder-color: #554738;
  border-radius: 12px;
  padding: 0.75rem 1rem !important;
  border: 1px solid #d3a87c;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  font-weight: 600;
}

ion-input {
  height: 60px;
}

.chk-postre {
  --checkbox-background-checked: #554738;
  --checkbox-border-color-checked: #554738;
  --checkbox-border-color: #554738;
  --checkbox-background: #e6dacd;
  color: #554738;
}

ion-checkbox.chk-postre::part(label) {
  opacity: 0.6;
}

ion-checkbox.chk-postre::part(container) {
  border: 2px solid var(--checkbox-border-color, #554738);
  background: var(--checkbox-background, #e6dacd);
  border-radius: 6px;
}

ion-checkbox.chk-postre[aria-checked="true"]::part(container) {
  border-color: var(--checkbox-border-color-checked, #554738);
  background: var(--checkbox-background-checked, #554738);
}

ion-checkbox.chk-postre[aria-checked="true"]::part(mark) {
  color: var(--checkbox-checkmark-color, #e6dacd);
}

.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.slot {
  display: grid;
  align-items: start;
  justify-content: start;
  border: 2px solid black;
  padding: 2px;
  border-radius: 12px;
  background-color: #d3a87c;
  gap: 8px;
}

.slot img {
  width: 100px;
  height: 100px;
}

.btn_slot_cam {
  --background: #554738;
  width: 50px;
  height: 40px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  .img_icon {
    width: 30px;
    height: 30px;
  }
}

.btn_slot_pho {
  --background: white;
  color: #554738;
  --border-color: white;
  width: 45px;
  height: 40px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  .img_icon {
    width: 30px;
    height: 30px;
  }
}

ion-button {
  font-weight: 600;
}

.btns_main {
  --background: #554738;
  border: 2px solid white;
  border-radius: 5px;
}

.btns_main_back {
  color: #554738;
  --background: white;
  border: 2px solid #554738;
  border-radius: 5px;
}

.slot img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px
}

.ion-success {
  color: green;
}

.acciones {
  display: flex;
  gap: 5px;
}
