@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Ingreso Anónimo</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    <form [formGroup]="formAnon">
      <ion-item lines="none" class="input-field">
        <ion-input class="input" formControlName="nombre" placeholder="Nombre"></ion-input>
      </ion-item>
      <div class="error">
        @if((formAnon.get("nombre")?.hasError("required")) &&
        formAnon.get("nombre")?.touched) {
          <app-form-errors [control]="formAnon.get('nombre')" />
        }
      </div>

      <div class="div_foto">
        <ion-button class="btn_photo" (click)="sacarFoto()">Tomar Foto</ion-button>
      </div>
      <div class="error">
        @if((formAnon.get("foto")?.hasError("required")) &&
        formAnon.get("foto")?.touched) {
          <app-form-errors [control]="formAnon.get('foto')" />
        }
      </div>

      <div class="div_img" *ngIf="formAnon.value.foto">
        <img [src]="formAnon.value.foto">
      </div>

      <ion-button class="btn-primary" (click)="registrarAnonimo()" [disabled]="formAnon.invalid || loading">
        Continuar
      </ion-button>

      <div class="placeholder-img" *ngIf="!formAnon.value.foto">
        <img src="/assets/images/anonimo.png" alt="placeholder anónimo">
      </div>
    </form>
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" routerLink="/home">
      Volver
    </button>
    <hr>
  </footer>
}