@if(loading) {
  <app-loading/>
} @else {
  <header>
    <title>Ingreso Anónimo</title>
  </header>

  <ion-content class="ion-padding">
    <form [formGroup]="formAnon">
      <ion-item lines="none" class="input-field">
        <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
      </ion-item>

      <div class="div_foto">
        <ion-button class="btn_foto" expand="block" (click)="sacarFoto()">Tomar Foto</ion-button>
      </div>

      <div class="div_img" *ngIf="formAnon.value.foto">
        <img [src]="formAnon.value.foto">
      </div>

      <ion-button class="btn_continuar" expand="block" (click)="registrarAnonimo()" [disabled]="formAnon.invalid || loading">
        Continuar
      </ion-button>

      <div class="placeholder-img" *ngIf="!formAnon.value.foto">
      <img src="/assets/images/anonimo.png" alt="placeholder anónimo">
      </div>

    </form>

    <ion-text color="danger" *ngIf="err">{{ err }}</ion-text>
  </ion-content>

  <footer>
    <ion-toolbar>
      <ion-buttons class="ion_btns">
        <ion-button class="btn_logged" routerLink="/home">Volver</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </footer>
}