ion-content.ion-padding {
  --padding-top: 0;
  --padding-bottom: 0;
}

title {
  width: 180px;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: transparent;
  --border-width: 0px;
  --padding-start: 0;
  --inner-padding-end: 0;
  --highlight-color-focused: transparent;
  width: 280px;
  height: 50px;
}

ion-button {
  --background: transparent;
  --background-activated: rgba(215, 184, 153, 0.2);
  --color: var(--color-text);
  --border-color: var(--color-text);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 12px;
  border-radius: 12px;
  font-weight: 600;
  height: 44px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--color-container);
  padding: 20px 0;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--color-black);
  margin: 20px 0;
}

.preview-foto {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.preview-foto ion-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #d3a87c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.div_foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  .btn_photo {
    --background: var(--color-btn-secondary);
    --color: var(--color-text);
    font-weight: 600;
    border-radius: 12px;
    font-size: 18px;
  }
}

.div_img {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 222px;
    height: 222px;
    border-radius: 10px;
  }
}

.placeholder-img {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  img {
    width: 250px;
    max-width: 80%;
    height: auto;
    border-radius: 12px;
    opacity: 0.9;
    border: 2px solid var(--color-text);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
