@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png" />
    <title>Reservas</title>
    <img src="assets/icon/cubiertos.png" />
  </header>

  <ion-content class="ion-padding">
    <div class="container">
      <h2 class="titulo">🗓️ Generar Reserva 🗓️</h2>

      <form class="form_reserva" (ngSubmit)="crearReserva()">
        <div class="campo">
          <ion-datetime
            display-format="dd/MM/yyyy HH:mm"
            presentation="date-time"
            [(ngModel)]="fechaSeleccionada"
            name="fecha"
            required>
            <span slot="time-label" style="margin-top: -50px; text-decoration: underline;">Hora:</span>
          </ion-datetime>
        </div>

        <div class="campo2">
          <label>Cantidad de Invitados:</label>
          <ion-input
            type="number"
            min="1"
            max="10"
            [(ngModel)]="invitados"
            name="invitados"
            class="input">
          </ion-input>
        </div>

        <ion-button type="submit" class="btn-tertiary">
          Confirmar Reserva
        </ion-button>
      </form>

      <h2 class="titulo2">📋 Mis Reservas 📋</h2>

      <div *ngIf="reservas.length === 0" class="sin-reservas">
        <p>No tiene reservas registradas aún.</p>
      </div>

      <div class="lista-reservas" *ngIf="reservas.length > 0">
        <div class="reserva-card" *ngFor="let r of reservas">
          <p><strong>Fecha:</strong> {{ r.fecha_hora | date:'dd/MM/yyyy HH:mm' }}</p>
          <p><strong>Invitados:</strong> {{ r.invitados }}</p>
          <p>
            <strong>Estado:</strong>
            <span [ngClass]="r.estado"> {{ r.estado }}</span>
          </p>
          <p *ngIf="r.motivo_rechazo">
            <strong>Motivo Rechazo:</strong> {{ r.motivo_rechazo }}
          </p>
        </div>
      </div>
    </div>
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" (click)="volver()">Volver</button>
    <hr>
  </footer>
}