@if(loading) {
  <app-loading/>
} @else {
  <header>
    <title>Juegos</title>
  </header>

  <ion-content >
    <div class="div_main">
      <h2>Elige un juego para obtener descuentos</h2>

      <ion-button 
      expand="block" 
      class="btn_juego juego10" 
      [routerLink]="['/juegos/juego10']"
      [queryParams]="{ anonimoId: anonimoId, usuarioId: usuarioId, clienteId: clienteId, userId : userId, mesaId : mesaId}"
      >
        Juego 10% Descuento
      </ion-button>

      <ion-button 
      expand="block" 
      class="btn_juego juego10" 
      [routerLink]="['/juegos/juego15']"
      [queryParams]="{ anonimoId: anonimoId, usuarioId: usuarioId, clienteId: clienteId, userId : userId, mesaId : mesaId}"
      >
        Juego 15% Descuento
      </ion-button>

      <ion-button 
      expand="block" 
      class="btn_juego juego10" 
      [routerLink]="['/juegos/juego20']"
      [queryParams]="{ anonimoId: anonimoId, usuarioId: usuarioId, clienteId: clienteId, userId : userId, mesaId : mesaId}"
      >
        Juego 20% Descuento
      </ion-button>
    </div>
  </ion-content>

  <footer>
    <ion-toolbar>
      <ion-buttons class="ion_btns">
        <ion-button class="btn_logged" (click)="volver()">Volver</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </footer>
}