.user_background {
  background: var(--ion-color-light);
  min-height: 100%;
}

.div_main {
  padding: 20px;
  text-align: center;
}

.div_main h2 {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.btn_juego {
  margin-bottom: 12px;
  font-weight: bold;
  border-radius: 10px;
  --color: white;
}

.btn_juego.juego10 {
  --background: var(--ion-color-tertiary);
}

.btn_juego.juego15 {
  --background: var(--ion-color-success);
}

.btn_juego.juego20 {
  --background: var(--ion-color-warning);
  --color: black;
}

.ion_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_logged {
  font-size: 20px;
  font-weight: 1000;
}