@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Cuenta</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    <div class="cuenta-container">
      <ion-card class="cuenta-card">
        <ion-card-header>
          <ion-card-title>🧾Pedido🧾</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="items-list">
            @for (it of items; track it.id) {
              <div class="item">
                <div class="data">
                  <p>{{ it.nombre }}</p>
                  <p>{{ it.tipo | titlecase}}</p>
                </div>
                <div class="qty">
                  <p>{{ it.precio_unit | currency:"ARS":"symbol-narrow":"1.0-0" }}</p>
                  <p>x{{ it.cantidad }}</p>
                </div>
              </div>
            }
          </div>

          <div class="totales">
            <p><b>Subtotal:</b> {{ ped?.total | currency:"ARS":"symbol-narrow":"1.0-0" }}</p>

            @if(descuento > 0) {
              <p class="descuento">💸Descuento aplicado: - {{ descuento }}%</p>
            }

            <div class="div_propina">
              <ion-button class="btn-secondary" (click)="escanearPropina()">
                QR Propina
              </ion-button>

              @if(propinaSeleccionada > 0) {
                <p class="propina-text">Propina seleccionada: {{ propinaSeleccionada }}%</p>
                <ion-button class="btn-quit" (click)="quitarPropina()">
                  Quitar Propina
                </ion-button>
              } @else {
                <p class="propina-text2">Sin propina seleccionada</p>
              }
            </div>

            <p class="total_final">
              Total: {{ totalFinal | currency:"ARS":"symbol-narrow":"1.0-0" }}
            </p>
          </div>
        </ion-card-content>
      </ion-card>

      <div class="div_boton">
        <ion-button class="btn-tertiary" (click)="pagar()">💲Pagar💲</ion-button>
      </div>
    </div>
  </ion-content>
  
  <footer>
    <hr>
    <button class="btn_footer" (click)="volver()">
      Volver
    </button>
    <hr>
  </footer>
}