.ion-padding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuenta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cuenta-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  border-radius: 20px;
  padding: 20px 10px;
  font-size: 20px;
  background-color: var(--color-btn-primary);
  color: var(--color-text);
  border: 2px solid var(--color-text);
}

ion-card-title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  color: var(--color-text);
  margin: 0;
}

ion-card-header,
ion-card-content {
  padding: 0;
}

.items-list {
  margin: 10px 0;
}

.item-row {
  --min-height: 70px;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-text)
}

.totales {
  text-align: center;

  p {
    font-size: 30px;
    margin: 0;
  }
}

.descuento {
  color: green;
  font-weight: bold;
}

.div_propina {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .propina-text {
    font-size: 20px;
    font-weight: 600;
  }

  .propina-text2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}

.total_final {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-text);
}

.div_boton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 12px;
}

.btn-tertiary {
  font-size: 25px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --border-radius: 20px;
  border-radius: 20px;
  border: 2px solid var(--color-text);
}

.btn-secondary {
  font-size: 20px;
  margin: 15px 0 8px 0;
  border: 2px solid var(--color-text);
}

.btn-quit {
  --background: var(--color-error);
  --color: var(--color-text);
  --border-radius: 12px;
  border-radius: 12px;
  font-weight: 800;
  font-size: 18px;
  border: 2px solid var(--color-text);
  margin-bottom: 16px;
}