div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #bb714e;
}

img {
  width: 200px;
  height: 200px;
}

p {
  font-size: 30px;
  color: white;
  font-weight: 600;
}