@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Alta Cliente</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-segment [(ngModel)]="tipoCliente" value="registrado">
    <ion-segment-button value="registrado">
      <ion-label>Registrado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anonimo">
      <ion-label>Anónimo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content class="ion-padding">
    @if(tipoCliente === 'registrado') {
    <form [formGroup]="formAltaCliente" (ngSubmit)="enviar('registrado')">
      <ion-item lines="none" class="input-field">
        <ion-input class="input" type="text" placeholder="Nombre" formControlName="nombres"></ion-input>
      </ion-item>
      <div class="error">
        @if((formAltaCliente.get("nombres")?.hasError("minlength") ||
        formAltaCliente.get("nombres")?.hasError("required")) &&
        formAltaCliente.get("nombres")?.touched) {
          <app-form-errors [control]="formAltaCliente.get('nombres')" />
        }
      </div>

      <ion-item lines="none" class="input-field">
        <ion-input class="input" type="text" placeholder="Apellido" formControlName="apellidos"></ion-input>
      </ion-item>
      <div class="error">
        @if((formAltaCliente.get("apellidos")?.hasError("minlength") ||
        formAltaCliente.get("apellidos")?.hasError("required")) &&
        formAltaCliente.get("apellidos")?.touched) {
          <app-form-errors [control]="formAltaCliente.get('apellidos')" />
        }
      </div>

      <ion-item lines="none" class="input-field">
        <ion-input class="input" type="text" placeholder="DNI" formControlName="dni"></ion-input>
        <button (click)="escanearDNI()" class="btn_scan" type="button"><span>📷</span></button>
      </ion-item>
      <div class="error">
        @if((formAltaCliente.get("dni")?.hasError("dni") ||
        formAltaCliente.get("dni")?.hasError("required")) &&
        formAltaCliente.get("dni")?.touched) {
          <app-form-errors [control]="formAltaCliente.get('dni')"/>
        }
      </div>

      <ion-item lines="none" class="input-field">
        <ion-input class="input" type="email" placeholder="Correo Electrónico" formControlName="correo"></ion-input>
      </ion-item>
      <div class="error">
        @if((formAltaCliente.get("correo")?.hasError("email") ||
        formAltaCliente.get("correo")?.hasError("required")) &&
        formAltaCliente.get("correo")?.touched) {
          <app-form-errors [control]="formAltaCliente.get('correo')" />
        }
      </div>

      <ion-item lines="none" class="input-field">
        <ion-input class="input" type="password" placeholder="Contraseña" formControlName="clave"></ion-input>
      </ion-item>
      <div class="error">
        @if((formAltaCliente.get("clave")?.hasError("minlength") ||
        formAltaCliente.get("clave")?.hasError("required")) &&
        formAltaCliente.get("clave")?.touched) {
          <app-form-errors [control]="formAltaCliente.get('clave')" />
        }
      </div>

      <ion-item lines="none" class="input-field">
        <ion-input class="input" type="password"  placeholder="Repetir Contraseña" formControlName="confirm"></ion-input>
      </ion-item>
      <div class="error">
        @if((formAltaCliente.get("confirm")?.hasError("passwordmatch") ||
        formAltaCliente.get("confirm")?.hasError("required")) &&
        formAltaCliente.get("confirm")?.touched) {
          <app-form-errors [control]="formAltaCliente.get('confirm')" />
        }
      </div>

      <div class="foto-section">
        <ion-button class="btn_photo" (click)="sacarFoto()">Tomar Foto</ion-button>
        <div class="preview" *ngIf="fotoPreviewReg">
          <img [src]="f['foto'].value" alt="Foto previa">
        </div>
        <div class="error2" *ngIf="!fotoPreviewReg && formAltaCliente.touched">
          <span>Foto requerida</span>
        </div>
      </div>

      <ion-button class="btn-primary" type="submit">
        Registrar Cliente
      </ion-button>
      
      <ion-button class="btn-tertiary" href="/home">Volver</ion-button>
    </form>
    }
    
    @if(tipoCliente === 'anonimo') {
        <form class="form-anon" [formGroup]="formAltaAnonimo" (ngSubmit)="enviar('anonimo')">
          <ion-item lines="none" class="input-field">
            <ion-input class="input" type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
          </ion-item>
          <div class="error">
            @if((formAltaAnonimo.get("nombre")?.hasError("minlength") ||
            formAltaAnonimo.get("nombre")?.hasError("required")) &&
            formAltaAnonimo.get("nombre")?.touched) {
              <app-form-errors [control]="formAltaAnonimo.get('nombre')" />
            }
          </div>

          <div class="foto-section">
            <ion-button class="btn_photo" (click)="sacarFotoAnonimo()">Tomar Foto</ion-button>
            <div class="preview">
              <img [src]="fAnonimo['foto'].value || placeholderUrl" alt="Foto previa"/>
            </div>
            <div class="error2" *ngIf="!fotoPreviewAnon && formAltaAnonimo.touched">
              <span>Foto requerida</span>
            </div>
          </div>

          <ion-button class="btn-primary" type="submit">
            Registrar <br> Cliente Anónimo
          </ion-button>

          <ion-button class="btn-tertiary" href="/home">Volver</ion-button>
        </form>
      }
  </ion-content>
}
