<header>
  <title>Memotest</title>
</header>

<ion-content>
  <div class="div_main">
    <h2>Encuentra todas las parejas</h2>

    <div class="vidas">
      Vidas restantes:
      <span *ngFor="let v of [].constructor(vidasRestantes)">🖤</span>
    </div>

    <div class="tablero">
      <div class="carta" *ngFor="let carta of cartas" (click)="seleccionarCarta(carta)">
        <img *ngIf="carta.volteada || carta.encontrada" [src]="carta.imagen" alt="Carta" />
        <div *ngIf="!carta.volteada && !carta.encontrada" class="carta_oculta"></div>
      </div>
    </div>

    <div class="info">
      <p>Pares encontrados: {{ aciertos }} / {{ imagenesBase.length }}</p>
    </div>

    <div *ngIf="juegoFinalizado" class="resultado">
      <ion-button class="btn_replay" (click)="resetear()">
        Volver a Jugar
      </ion-button>
      <p *ngIf="vidasRestantes <= 0" class="perdio-texto">
        😢 Te quedaste sin vidas 😢 <br> Inténtalo de nuevo
      </p>
      <p *ngIf="aciertos === imagenesBase.length" class="gano-texto">
        🎉 ¡Ganaste el juego!
      </p>
    </div>
  </div>
</ion-content>

<footer>
  <ion-toolbar>
    <ion-buttons class="ion_btns">
      <ion-button class="btn_logged" (click)="volver()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</footer>