<header>
  <img src="assets/icon/cubiertos.png">
  <title>Memotest</title>
  <img src="assets/icon/cubiertos.png">
</header>

<ion-content>
  <div class="div_main">
    <h2>Encuentra todas las parejas</h2>

    <div class="vidas">
      Vidas restantes:
      <span *ngFor="let v of [].constructor(vidasRestantes)">🩷</span>
    </div>

    <div class="tablero">
      <div class="carta" *ngFor="let carta of cartas" (click)="seleccionarCarta(carta)">
        <img *ngIf="carta.volteada || carta.encontrada" [src]="carta.imagen" alt="Carta" />
        <div *ngIf="!carta.volteada && !carta.encontrada" class="carta_oculta"></div>
      </div>
    </div>

    <div class="info">
      <p>Pares encontrados: {{ aciertos }} / {{ imagenesBase.length }}</p>
    </div>

    @if(juegoFinalizado) {
      <div class="div_replay">
        <ion-button class="btn-primary" (click)="resetear()">
          Volver a Jugar
        </ion-button>
      </div>
    }
  </div>
</ion-content>

<footer>
  <hr>
  <button class="btn_footer" (click)="volver()">
    Volver
  </button>
  <hr>
</footer>