@if (loading) {
  <app-loading/>
} @else {
  <header>
    <title>Encuestas</title>
  </header>

  <ion-content class="ion-padding">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="encuestas">Encuestas</ion-segment-button>
      <ion-segment-button value="graficos">Gráficos</ion-segment-button>
    </ion-segment>

    @if (segment === 'encuestas') {
      <div class="ion-padding-top">
        @if (puedeRealizar) {
          <ion-button expand="block" routerLink="/encuesta-nueva">Realizar Encuesta</ion-button>
        }
        <h2>Últimas Encuestas</h2>
        <ion-list>
          <ion-item class="items" *ngFor="let r of respuestas">
            <ion-label>
              <h3>{{ r.creado_en | date:'short' }}</h3>
              <div class="div_encuesta">
                <p class="p_encuesta">Calificación General: </p> 
                <span class="span_encuesta">{{ r.calificacion_general || '—'}}</span>
              </div>

              <div class="div_encuesta">
                <p class="p_encuesta">Calidad de la Comida: </p> 
                <span class="span_encuesta">{{ r.calidad_comida || '—' | titlecase }}</span>
              </div>

              <div class="div_encuesta">
                <p class="p_encuesta">Tiempo de Espera: </p> 
                <span class="span_encuesta">{{ r.tiempo_espera || '—' | titlecase }}</span>
              </div>
              @if (r.opinion) { 
                <div class="div_opinion">
                  <i>Opinión General:</i> 
                  <span>{{ r.opinion }}</span>
                </div> 
              }
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    }

    @if (segment === 'graficos') {
      <div class="ion-padding-top">
        <ion-card>
          <ion-card-header>Calificación General (1-10)</ion-card-header>
          <ion-card-content>
            <apx-chart
              [series]="ratingChart.series"
              [chart]="ratingChart.chart"
              [xaxis]="ratingChart.xaxis"
              [yaxis]="ratingChart.yaxis">
            </apx-chart>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>Tiempo de Espera</ion-card-header>
          <ion-card-content>
            <apx-chart
              [series]="waitChart.series"
              [chart]="waitChart.chart"
              [xaxis]="waitChart.xaxis"
              [yaxis]="ratingChart.yaxis">
            </apx-chart>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>Calidad de la Comida</ion-card-header>
          <ion-card-content>
            <apx-chart
              [series]="qualityChart.series"
              [labels]="qualityChart.labels"
              [chart]="qualityChart.chart"
              [legend]="qualityChart.legend"
              [dataLabels]="qualityChart.dataLabels"
              [plotOptions]="qualityChart.plotOptions">
            </apx-chart>
          </ion-card-content>
        </ion-card>
      </div>
    }
  </ion-content>

  <footer>
    <ion-toolbar>
      <ion-buttons class="ion_btns">
        <ion-button class="btn_logged" (click)="volver()">Volver</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </footer>
}