:host ion-content.ion-padding::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  color: #554738;
  font-weight: 700;
  margin-bottom: 20px;
}

.fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.slot {
  display: grid;
  place-items: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 12px;
  background-color: #d3a87c;
  width: 300px;
  gap: 8px;
}

ion-card-header {
  font-weight: 600;
  text-align: center;
  color: #554738;
  font-size: 16px;
  text-decoration: underline;
}

.slot ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ion_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_logged {
  font-size: 20px;
  font-weight: 1000;
}

.acciones {
  display: flex;
  gap: 5px;
}

ion-button {
  font-weight: 600;
}

.btns_main {
  --background: #554738;
  border: 2px solid white;
  border-radius: 5px;
  margin: -15px 0 10px 0;
}

.btns_main_back {
  color: #554738;
  --background: white;
  border: 2px solid #554738;
  border-radius: 5px;
}

.ion-error,
.ion-success {
  font-weight: 600;
  --background: transparent;
  color: white;
  text-align: center;
}

.ion-success {
  color: green;
}

.card-pending {
  background: #f5e6d3;
  border: 2px solid #d3a87c;
  border-radius: 12px;
  text-align: center;
  color: #554738;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px;
}

.card-pending .resalta {
  color: #a45c2b;
  font-weight: bold;
}

.card-success {
  background: #e8f5e9;
  border: 2px solid #4caf50;
  border-radius: 12px;
  text-align: center;
  color: #2e7d32;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px;
}

.estado-mesa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  background-color: #e6dacd;
  border-top: 2px solid black;
}

.btn_pedido {
  --background: rgb(112, 112, 112);
}

.btn_encuesta {
  --background: rgb(70, 194, 87);
}

.btn_juegos {
  --background: rgb(107, 170, 238);
}