@if(loading) {
  <app-loading/>
} @else {
  <header>
    <title>Clientes Pendientes</title>
  </header>

  <ion-content class="ion-padding">
    <ion-text color="danger" *ngIf="err">{{ err }}</ion-text>
    <ion-text color="success" *ngIf="ok">{{ ok }}</ion-text>

    <ion-list *ngIf="!loading && clientes.length > 0">
      <ion-item *ngFor="let c of clientes" class="card-item">
        <div class="item-content">
          <div class="user-info">
            <ion-avatar slot="start">
              <img [src]="c.usuario.foto_url || 'assets/avatar.png'" alt="foto cliente">
            </ion-avatar>
            <ion-label>
              <h2>{{ c.usuario.apellidos }}, {{ c.usuario.nombres }}</h2>
              <p>DNI: {{ c.usuario.numero_documento }}</p>
              <p>Email: {{ c.usuario.correo_electronico }}</p>
            </ion-label>
          </div>
          <div class="buttons-row">
            <button class="btn-success" (click)="aprobar(c.usuario_id)">APROBAR</button>
            <button class="btn-danger" (click)="rechazar(c.usuario_id)">RECHAZAR</button>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="!loading && clientes.length === 0">
      <p class="p_clientes">No hay Clientes Pendientes</p>
    </ion-item>
  </ion-content>

  <footer>
    <ion-toolbar>
      <ion-buttons class="ion_btns">
        <ion-button class="btn_logged" routerLink="/home">Volver</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </footer>
}