@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Clientes Pendientes</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    @if(clientes.length > 0) {
      <div class="div_list">
        <div class="item" *ngFor="let c of clientes">
          <div class="item-first-part">
            <div class="item-img">
              <img [src]="c.usuario.foto_url || 'assets/avatar.png'" />
            </div>
  
            <div class="item-data">
              <p class="name">{{ c.usuario.apellidos | titlecase }} {{ c.usuario.nombres | titlecase }}</p>
              <p>🛂D.N.I.: {{ c.usuario.numero_documento }}</p>
              <p class="email">✉️{{ c.usuario.correo_electronico }}</p>
            </div>
          </div>

          <div class="item-btns">
            <button class="aprove" (click)="aprobar(c.usuario_id)">Aprobar</button>
            <button class="quit" (click)="rechazar(c.usuario_id)">Quitar</button>
          </div>
        </div>
      </div>
    } @else {
      <div #vacio class="empty">
        <p class="p_clientes">No hay Clientes en Espera</p>
        <img src="assets/images/espera.png">
      </div>
    }
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" routerLink="/home">
      Volver
    </button>
    <hr>
  </footer>
}