// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
  --ion-color-primary: #554738;  /* Marrón oscuro (botones principales) */
  --ion-color-secondary: #d3a87c; /* Marrón claro */
  --ion-color-tertiary: #7b5e40;  /* Marrón intermedio */
  --ion-color-light: #e6d5c3;     /* Beige */
  --ion-color-medium: #9b8a78;
  --ion-color-dark: #3b2d20;
}


ion-card {
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  --background: #f9f4ef; /* Fondo beige claro */
  color: #554738;
}

ion-toolbar {
  --background: #e6d5c3; /* Beige */
  --color: #554738;      /* Marrón oscuro */
  border-top: 1px solid #d3a87c;
  border-bottom: 1px solid #d3a87c;
}

ion-footer {
  --background: #e6d5c3;
}
ion-button {
  font-weight: 600;
  border-radius: 6px;
}

ion-button.btn_logged {
  --background: #e6d5c3;
  --color: #554738;
  font-weight: 900;
}