<header>
  <title>Mayor o Menor</title>
</header>

<ion-content>
  <div class="div_main">
    <h2>¿La siguiente carta será mayor o menor?</h2>

    <div class="carta">
      <img [src]="urlCarta" alt="Carta" class="img_carta" />
    </div>

    <div *ngIf="play && !juegoFinalizado" class="progreso">
      <p>Aciertos seguidos: <strong>{{ racha }}/4</strong></p>
    </div>

    <div *ngIf="!play">
      <ion-button style="border: 2px solid black; border-radius: 8px;" (click)="iniciarJuego()">
        Empezar
      </ion-button>
    </div>

    <div *ngIf="play && !juegoFinalizado" class="acciones">
      <ion-button (click)="elegir('mayor')">
        Mayor
      </ion-button>
      <ion-button style="--background: white; --color: #554738;"  (click)="elegir('menor')">
        Menor
      </ion-button>
    </div>

    <div *ngIf="juegoFinalizado" class="resultado">
      <p *ngIf="gano">🎉 ¡Ganaste! Lograste los 4 aciertos seguidos.</p>
      <p *ngIf="!gano">❌ Perdiste. Intenta de nuevo.</p>
      <ion-button style="border: 2px solid black; border-radius: 8px;" (click)="resetear()">
        Volver a Jugar
      </ion-button>
    </div>
  </div>
</ion-content>

<footer>
  <ion-toolbar>
    <ion-buttons class="ion_btns">
      <ion-button class="btn_logged" (click)="volver()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</footer>