<header>
  <img src="assets/icon/cubiertos.png">
  <title>Mayor o Menor</title>
  <img src="assets/icon/cubiertos.png">
</header>

<ion-content>
  <div class="div_main">
    @if(!play) {
      <h2 class="h2-play">¿La siguiente carta será mayor o menor?</h2>
    } @else {
      <h2 [ngClass]="juegoFinalizado ? 'h2-noplay2' : 'h2-noplay'">¿La siguiente carta será mayor o menor?</h2>
    }

    <div class="carta">
      <img [src]="urlCarta" alt="Carta" class="img_carta"/>
    </div>

    <div *ngIf="play && !juegoFinalizado" class="progreso">
      <p>Aciertos seguidos: <strong>{{ racha }}/4</strong></p>
    </div>

    <div *ngIf="!play">
      <ion-button class="btn-primary" (click)="iniciarJuego()">
        Empezar
      </ion-button>
    </div>

    <div *ngIf="play && !juegoFinalizado" class="acciones">
      <ion-button class="btn-tertiary" (click)="elegir('mayor')">
        Mayor
      </ion-button>

      <ion-button class="btn-secondary" (click)="elegir('menor')">
        Menor
      </ion-button>
    </div>

    @if(juegoFinalizado) {
      <div class="div_replay">
        <ion-button class="btn-primary" (click)="resetear()">
          Volver a Jugar
        </ion-button>
      </div>
    }
  </div>
</ion-content>

<footer>
  <hr>
  <button class="btn_footer" (click)="volver()">
    Volver
  </button>
  <hr>
</footer>