<ion-content [fullscreen]="true" class="splash-container">
  
  <div class="textura-sutil"></div>

  <div class="contenido-centrado">
    
    <div class="logo-container">
      <img src="./assets/icon/logo.png" class="logo" alt="Logo TasteByte">
    </div>

    <h1 class="titulo">TasteByte</h1>
    <div class="subtitulo">Experiencia gastronómica única</div>

    <div class="integrantes">
      <h3>Integrantes</h3>
      <div class="lista-integrantes">
        <div class="integrante-item">
          <ion-avatar>
            <img src="./assets/images/chef.png" alt="Roman">
          </ion-avatar>
          <div class="contenedor-nombre">
            <span class="integrante-nombre">Roman Tomas</span>
          </div>
        </div>
        <div class="integrante-item">
          <ion-avatar>
            <img src="./assets/images/chef.png" alt="Francisco">
          </ion-avatar>
          <div class="contenedor-nombre">
            <span class="integrante-nombre">Panuccio Francisco</span>
          </div>
        </div>
        <div class="integrante-item">
          <ion-avatar>
            <img src="./assets/images/chef.png" alt="Joaquín">
          </ion-avatar>
          <div class="contenedor-nombre">
            <span class="integrante-nombre">Avalone Joaquín</span>
          </div>
        </div>
      </div>
    </div>

    <div class="loading-indicator">
      <div class="loading-bar"></div>
    </div>

  </div>
</ion-content>