@if(loading) {
  <app-loading/>
} @else {
  @if(errorMsg) {
  <ion-content class="ion-padding">
    <div class="div_error">
      <span>Correo electrónico o contraseña inválidos</span>
      <ion-button expand="block" class="btn_close" (click)="closeError()">Cerrar</ion-button>
    </div>

    <div class="img_background">
      <ion-img src="assets/icon/logo.png" class="logo"/>
    </div>
  </ion-content>
  } @else {
    <ion-content>
      <div class="auth-container">
        <div class="auth-card">
          <h1 class="title">Iniciar Sesión</h1>
    
          <form [formGroup]="formLogin">
            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Correo Electrónico" formControlName="email"></ion-input>
            </ion-item>
            <div class="error_email">
              @if((formLogin.get("email")?.hasError("email") ||
              formLogin.get("email")?.hasError("required")) &&
              formLogin.get("email")?.touched) {
              <app-form-errors [control]="formLogin.get('email')" />
              }
            </div>
    
            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="error_pass">
              @if((formLogin.get("password")?.hasError("minlength") ||
              formLogin.get("password")?.hasError("required")) &&
              formLogin.get("password")?.touched) {
              <app-form-errors [control]="formLogin.get('password')" />
              }
            </div>
  
            <ion-button expand="block" class="btn-primary" (click)="onLogin()" [disabled]="formLogin.invalid">Ingresar</ion-button>
          </form>
    
          <div class="quick-logins">
            <p class="subtitle">Accesos Rápidos:</p>
            <div class="quick_btns">
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'admin@hotmail.com', password: 'admin12345'})">Ad</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'dueno@hotmail.com', password: 'dueño12345'})">Dñ</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'supervisor@hotmail.com', password: 'supervisor12345'})">Sv</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'maitre@hotmail.com', password: 'maitre12345'})">Mt</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'mozo@hotmail.com', password: 'mozo12345'})">Mz</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'cocinero@hotmail.com', password: 'cocinero12345'})">Cc</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'bartender@hotmail.com', password: 'bartender12345'})">Bt</ion-button>
              <ion-button expand="block" size="small" class="btn-secondary" (click)="quickLogin({email: 'clienteregistrado@hotmail.com', password: 'clienteregistrado12345'})">CR</ion-button>
            </div>
          </div>
    
          <div class="register-link">
            <p style="text-decoration: underline; margin: -5px 0 5px 0; font-weight: 600;">¿No tenés cuenta?</p>
            <ion-button expand="block" routerLink="/register" style="--background: #554738; --color: white;">Crear Cuenta</ion-button>
            <ion-button expand="block" color="medium" (click)="goAnonRegister()"> Ingresar como Anónimo </ion-button>
          </div>
        </div>
      </div>
    </ion-content>
  }
}
