.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color-background);
  padding: 20px 10px;
}

.auth-card {
  display: flex;
  flex-direction: column;
  background: var(--color-container);
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  gap: 1.5rem;
  border: 2px solid var(--color-black);
}

.div_error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color-black);
  background-color: var(--color-container);
  width: fit-content;
  padding: 20px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  border-radius: 20px;
  margin: 100px auto 50px auto;
  min-height: 300px;
  color: var(--color-text);
  letter-spacing: 2px;
}

.btn_close {
  color: var(--color-text);
  --background: var(--color-btn-primary);
  border: 1px solid var(--color-text);
  font-weight: 600;
  font-size: 16px;
  --border-radius: 12px;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 2rem;
  color: var(--color-text);
  font-weight: 700;
  margin: -5px 0 -8px 0;
}

.input-field {
  --background: var(--color-input);
  --border-width: 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  --highlight-color-focused: var(--color-input);
  border-radius: 12px;
  width: 280px;
  height: 50px;
}

.btn-primary {
  margin: 0 0 0 0;
}

.btn-secondary {
  align-self: center;
  margin-top: 0.5rem;
  font-weight: 600;
}

.p_account {
  text-decoration: underline;
  margin: -5px 0 5px 0 !important;
  font-size: 20px;
  font-weight: 600;
}

hr {
  height: 2px;
  width: 100%;
  margin: -5px 0;
  background-color: var(--color-text);
}

.quick-logins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .subtitle {
    font-weight: 600;
    color: var(--color-text);
    margin: -5px 0 0 0;
    font-size: 20px;
    text-decoration: underline;
  }
}

.quick_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  button {
    --padding-start: 0;
    --padding-end: 0;
    --border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 10px;
    width: 65px;
    height: 65px;
    border: 1px solid var(--color-text);

    &:nth-child(5), 
    &:nth-child(6), 
    &:nth-child(7), 
    &:nth-child(8),
    &:nth-child(9) {
      margin-bottom: 0;
    }

    &:nth-child(9) {
      margin-top: 20px;
    }
  }
}

.register-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  p {
    color: var(--color-text);
    margin: 0;
  }

  .error_email {
    margin: 10px auto 20px auto;
    text-align: center;
  }

  .error_pass {
    margin: 20px auto 10px auto;
    text-align: center;
  }

  ion-button {
    --background: transparent;
    --background-activated: rgba(215, 184, 153, 0.2);
    --color: var(--color-text);
    --border-color: var(--color-text);
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 12px;
    border-radius: 12px;
    font-weight: 600;
    height: 44px;
    width: 250px;
  }
}

.img_background {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 300px;
    height: 300px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
  }
}

.google {
  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}