@if(loading) {
  <app-loading/>
} @else {
  @if(errorMsg) {
    <ion-content class="ion-padding">
      <div class="div_error">
        <span>Usuario ya existente</span>
        <ion-button fill="clear" expand="block" class="btn_close" (click)="closeError()">Cerrar</ion-button>
      </div>

      <div class="img_background">
        <ion-img src="assets/images/fondo.png" class="img"/>
      </div>
    </ion-content>
  } @else {
    <ion-content>
      <div class="auth-container">
        <div class="auth-card">
          <h1 class="title">Registro</h1>

          <form [formGroup]="formRegister">
            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Apellido" formControlName="lastname"></ion-input>
            </ion-item>
            <div class="error">
              @if((formRegister.get("lastname")?.hasError("required")) &&
              formRegister.get("lastname")?.touched) {
                <app-form-errors [control]="formRegister.get('lastname')"/>
              }
            </div>

            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Nombre" formControlName="fullname"></ion-input>
            </ion-item>
            <div class="error">
              @if((formRegister.get("fullname")?.hasError("required")) &&
              formRegister.get("fullname")?.touched) {
                <app-form-errors [control]="formRegister.get('fullname')" />
              }
            </div>

            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Correo Electrónico" formControlName="email"></ion-input>
            </ion-item>
            <div class="error">
              @if((formRegister.get("email")?.hasError("email") ||
              formRegister.get("email")?.hasError("required")) &&
              formRegister.get("email")?.touched) {
                <app-form-errors [control]="formRegister.get('email')" />
              }
            </div>

            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="error">
              @if((formRegister.get("password")?.hasError("minlength") ||
              formRegister.get("password")?.hasError("required")) &&
              formRegister.get("password")?.touched) {
                <app-form-errors [control]="formRegister.get('password')" />
              }
            </div>

            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Repetir Contraseña" type="password" formControlName="confirm"></ion-input>
            </ion-item>
            <div class="error">
              @if((formRegister.get("confirm")?.hasError("passwordmatch") ||
              formRegister.get("confirm")?.hasError("required")) &&
              formRegister.get("confirm")?.touched) {
                <app-form-errors [control]="formRegister.get('confirm')" />
              }
            </div>

            <ion-item class="input-field" lines="none">
              <ion-input placeholder="Número de Documento" formControlName="documentNumber"></ion-input>
            </ion-item>
            <div class="error">
              @if((formRegister.get("documentNumber")?.hasError("required")) &&
              formRegister.get("documentNumber")?.touched) {
                <app-form-errors [control]="formRegister.get('documentNumber')" />
              }
            </div>

            <ion-item class="input-field" lines="none">
              <select formControlName="profile" class="profile-select">
                <option value="" disabled selected>Selecciona un Perfil</option>
                <option value="dueño">Dueño</option>
                <option value="supervisor">Supervisor</option>
                <option value="maître">Maître</option>
                <option value="mozo">Mozo</option>
                <option value="cocinero">Cocinero</option>
                <option value="bartender">Bartender</option>
                <option value="cliente-registrado">Cliente Registrado</option>
                <option value="cliente-anonimo">Cliente Anónimo</option>
              </select>
            </ion-item>
            <div class="error">
              @if((formRegister.get("profile")?.hasError("required")) &&
              formRegister.get("profile")?.touched) {
                <app-form-errors [control]="formRegister.get('profile')"/>
              }
            </div>

            <ion-button expand="block" (click)="onRegister()" class="btn-primary" [disabled]="formRegister.invalid">Registrarse</ion-button>
            <ion-button expand="block" routerLink="/login" style="--background: #554738; --color: white;">Iniciar Sesión</ion-button>
          </form>
        </div>
      </div>
    </ion-content>
  }
}