<ion-content>
  <div class="auth-container">
    <div class="auth-card">
      <h1 class="title">Registro</h1>

      <form (ngSubmit)="onRegister()" [formGroup]="formRegister" >
        <ion-item class="input-field">
          <ion-input placeholder="Nombre" type="text" formControlName="fullname"></ion-input>
        </ion-item>
        @if((formRegister.get("fullname")?.hasError("required")) &&
        formRegister.get("fullname")?.touched) {
          <app-form-errors [control]="formRegister.controls.fullname"/>
        }

        <ion-item class="input-field">
          <ion-input placeholder="Correo Electrónico" type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="error">
        @if((formRegister.get("email")?.hasError("email") ||
        formRegister.get("email")?.hasError("required")) &&
        formRegister.get("email")?.touched) {
          <app-form-errors [control]="formRegister.controls.email"/>
        }
      </div>
 
        <ion-item class="input-field">
          <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="error">
        @if((formRegister.get("password")?.hasError("minlength") ||
        formRegister.get("password")?.hasError("required")) &&
        formRegister.get("password")?.touched) {
          <app-form-errors [control]="formRegister.controls.password"/>
        }
      </div>

      <ion-item class="input-field">
        <ion-input placeholder="Repetir Contraseña" type="password" formControlName="confirm" >
        </ion-input>
      </ion-item>
      <div class="error">
        @if((formRegister.get("confirm")?.hasError("passwordmatch") ||
        formRegister.get("confirm")?.hasError("required")) &&
        formRegister.get("confirm")?.touched) {
          <app-form-errors [control]="formRegister.controls.confirm"/>
        }
      </div>

        <ion-button type="button" expand="block" type="submit" class="btn-primary" [disabled]="loading">
          {{ loading ? 'Registrando...' : 'Registrarse' }}
        </ion-button>
        <ion-button type="button" expand="block" class="btn-primary" [disabled]="loading" (click)="goToLogin()">
          Iniciar Sesión
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
