@if(loading) {
  <app-loading/>
}@else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Pedidos Mozo</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content [class.blocked]="busy">
    <div class="div_btns2" role="toolbar" aria-label="Filtros">
      @if(filtro === "impagado") {
        <div class="current">Sin Pagar</div>
      } @else if(filtro === "recibido") {
        <div class="current">Entregados</div>
      } @else {
        <div class="current">{{ filtro + "s" | titlecase }}</div>
      }
      <div class="btn_select">
        <button id="filters-btn"
                class="hamburger"
                [disabled]="busy"
                aria-haspopup="menu"
                aria-controls="filtros-popover">
          ☰
        </button>
      </div>
    </div>

    <ion-popover trigger="filters-btn"
                triggerAction="click"
                dismissOnSelect="true"
                id="filtros-popover">
      <ng-template>
        <ion-content class="popover-filtros">
          <ion-list>
            <ion-item button [detail]="false" [class.active]="filtro==='pendiente'" (click)="setFiltro('pendiente')">
              <ion-label>Pendientes</ion-label>
            </ion-item>

            <ion-item button [detail]="false" [class.active]="filtro==='aceptado'"  (click)="setFiltro('aceptado')">
              <ion-label>Aceptados</ion-label>
            </ion-item>

            <ion-item button [detail]="false" [class.active]="filtro==='recibido'"  (click)="setFiltro('recibido')">
              <ion-label>Entregados</ion-label>
            </ion-item>

            <ion-item button [detail]="false" [class.active]="filtro==='impagado'"  (click)="setFiltro('impagado')">
              <ion-label>Sin Pagar</ion-label> 
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

    <div class="div_container" *ngIf="pedidos.length">
      <div class="div_pedidos" *ngFor="let p of pedidos">
        <div class="div_data_pedido">
          @if(p.tipo === 'delivery') {
            <p>📍{{ p.delivery_direccion | titlecase }}</p>
          } @else {
            <div class="div_btns">
              <p class="numero">Mesa: {{ mesasNum.get(p.mesa_id) ?? p.mesa_id }}</p>
              <button (click)="abrirChat(p.mesa_id)" class="btn_chat" [disabled]="busy" *ngIf="p.mesa_id != null">Chat</button>
            </div>
          }
          @if(p.estado === "impagado") {
            <p class="total">💸Total: ${{ p.total }}</p>
          }
          @if(p.estado === "pendiente") {
            <div class="div_items" *ngFor="let it of pedidoItemsByPedido[p.id]">
              <p>● {{it.nombre | titlecase}}</p>
              <p class="qnt">x{{it.cantidad}}</p>
            </div>
            <p class="fecha2">🗓️{{ p.created_at | date:'short' }}</p>
          }
          
          @if(p.estado === "recibido") {
            <div class="div_items" *ngFor="let it of pedidoItemsByPedido[p.id]">
              <p>● {{it.nombre | titlecase}}</p>
              <p class="qnt">x{{it.cantidad}}</p>
            </div>
            <p class="fecha2">🗓️{{ p.created_at | date:'short' }}</p>
          }

          @if(p.estado === 'aceptado') {
            <div class="div_items" *ngFor="let it of pedidoItemsByPedido[p.id]">
              <p>● {{it.nombre | titlecase}}</p>
              <p class="qnt">x{{it.cantidad}}</p>
            </div>
          }
        </div>
        
        <div class="another">
          <button class="btn_entregar" *ngIf="p.estado==='aceptado'" (click)="setEstado(p.id,'recibido')" [disabled]="busy">Entregar</button>
          
          <button class="btn_aceptar" *ngIf="p.estado==='pendiente'" (click)="setEstado(p.id,'aceptado')" [disabled]="busy">Aceptar</button>
          <button class="btn_rechazar" *ngIf="p.estado==='pendiente'" (click)="setEstado(p.id,'rechazado')" [disabled]="busy">Rechazar</button>

          <button class="btn_aceptar" *ngIf="p.estado==='impagado'" (click)="validarPago(p.id)" [disabled]="busy">Validar Pago</button>
        </div>

        @if(p.estadoBar && p.estadoCocina) {
          @if(p.estadoBar === "pendiente" && p.estadoCocina === "pendiente") {
            <div class="div_cocinaBar both">
              <img src="assets/images/cocina-pendiente.png">
              <img src="assets/images/bar-pendiente.png">
            </div>
          } @else if(p.estadoBar === "pendiente" && p.estadoCocina === "terminado") {
            <div class="div_cocinaBar both">
              <img src="assets/images/cocina-terminado.png">
              <img src="assets/images/bar-pendiente.png">
            </div>
          } @else if(p.estadoCocina === "pendiente" && p.estadoBar === "terminado") {
            <div class="div_cocinaBar both">
              <img src="assets/images/cocina-pendiente.png">
              <img src="assets/images/bar-terminado.png">
            </div>
          } @else {
            <div class="div_cocinaBar both">
              <img src="assets/images/cocina-terminado.png">
              <img src="assets/images/bar-terminado.png">
            </div>
          }
        } @else if(p.estadoCocina) {
            @if(p.estadoCocina === "pendiente") {
              <div class="div_cocinaBar">
                <img src="assets/images/cocina-pendiente.png">
              </div>
            } @else {
              <div class="div_cocinaBar">
                <img src="assets/images/cocina-terminado.png">
              </div>
            }
        } @else if(p.estadoBar) {
            @if(p.estadoBar === "pendiente") {
              <div class="div_cocinaBar">
                <img src="assets/images/bar-pendiente.png">
              </div>
            } @else {
              <div class="div_cocinaBar">
                <img src="assets/images/bar-terminado.png">
              </div>
            }
        }
      </div>
    </div>

    <div *ngIf="!loading && !pedidos.length" class="vacio">
      <p>Sin Pedidos</p>
      <div class="div_img">
        <img src="assets/images/mozo.png">
      </div>
    </div>
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" (click)="abrirInbox()" [disabled]="busy">
      Mensajes
    </button>
    <hr>
    <button class="btn_footer" [disabled]="busy" (click)="salir()">
      Salir
    </button>
    <hr>
  </footer>

  <ion-modal #chatModal
             [isOpen]="chatOpen"
             [breakpoints]="[1]"
             [initialBreakpoint]="1"
             backdropDismiss="false"
             handle="false"
             (didDismiss)="chatOpen=false">
    <ng-template>
      <header class="header-chat">
        <div>
          <img src="assets/icon/cubiertos.png">
          <title class="title2">Chat Mesa {{ mesasNum.get(mesaChatId!) ?? mesaChatId }}</title>
          <img src="assets/icon/cubiertos.png">
        </div>
        <button (click)="cerrarChat()">❌ Cerrar ❌</button>
      </header>

      <ion-content #chatContent class="ion-content-chat">
        <div class="chat">
          <div class="msg"
               [class.mine]="m.from==='yo'"
               [class.mozo-msg]="m.role==='mozo'"
               [class.cliente-msg]="m.role==='cliente'"
               *ngFor="let m of messages">
            <div class="bubble">
              <div class="body" [class.mozo-body]="m.role==='mozo'">{{ m.text | titlecase}}</div>
              <div [class.mozo-meta]="m.role==='mozo'"
                   [class.cliente-meta]="m.role==='cliente'">
                   @if(m.role === "cliente") {
                    {{ ('Mesa ' + (mesasNum.get(mesaChatId!) ?? "NN")) }} • {{ m.createdAt | date:'short' }}
                   } @else {
                    {{ m.createdAt | date:'short' }}
                   }
              </div>
            </div>
          </div>
        </div>

        <ion-item class="composer" lines="none" slot="fixed">
          <ion-input type="text"
                     placeholder="Escribe tu mensaje…"
                     [(ngModel)]="newMsg"
                     (keyup.enter)="enviar()"
                     [disabled]="busy">
          </ion-input>
          <ion-button slot="end" [disabled]="!newMsg.trim() || busy" (click)="enviar()">Enviar</ion-button>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #inboxModal
             [isOpen]="inboxOpen"
             [breakpoints]="[1]"
             [initialBreakpoint]="1"
             backdropDismiss="true"
             handle="false"
             (didDismiss)="inboxOpen=false">
    <ng-template>
      <header class="header-chat">
        <div>
          <img src="assets/icon/cubiertos.png">
          <title>Clientes</title>
          <img src="assets/icon/cubiertos.png">
        </div>
        <button (click)="cerrarInbox()">❌ Cerrar ❌</button>
      </header>

      <ion-content class="ion-padding">
        <div *ngIf="!inbox.length" class="vacio">Sin Mensajes</div>
        <div class="inbox-list" *ngIf="inbox.length">
          <div class="inbox-items" *ngFor="let it of inbox">
            <div class="inbox-item">
              <div class="inbox-meta">
                <div class="inbox-title">◽Mesa • {{ it.mesaNumero ?? it.mesaId }}◽</div>
                <div class="inbox-title">⏲ {{ it.time }} ⏲</div>
              </div>
  
              <div class="inbox-text">{{ it.lastText }}</div>
  
              <div class="inbox-actions">
                <button class="btn-primary" (click)="abrirDesdeInbox(it)">Abrir Chat</button>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
}

<app-factura #facturaCmp [data]="facturaData" class="pdf-host"></app-factura>