@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Lista de Espera</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    @if(clientes.length > 0) {
      <div class="div_list">
        <div class="item" *ngFor="let c of clientes; let i = index">
          <div class="item-first-part">
            <div class="item-img">
              <img [src]="c.foto_url || 'assets/img/default-user.png'" />
            </div>
  
            <div class="item-data">
              <p class="name">{{ c.nombre | titlecase}}</p>
              <p class="ingreso"><span>⚪Ingresó:</span> {{ c.creado_en | date:'short' }}</p>
              <p><span>🟡Estado:</span> {{ c.estado | titlecase}}</p>
              @if(esCliente && (c.cliente_anonimo_id === anonimoId || c.cliente_id === usuarioId)) {
                <p><span>🟢Posición en la Fila: {{ i + 1 }}</span></p>
              }
            </div>
          </div>
          
          @if(esMaitre) {
            <div class="item-btns">
              <button class="aprove" (click)="aprobar(c)">Aprobar</button>
              <button class="quit" (click)="quitar(c)">Quitar</button>
            </div>
          }
        </div>
      </div>
    } @else {
      <div #vacio class="empty">
        <p class="p_clientes">No hay Clientes en Espera</p>
        <img src="assets/images/espera.png">
      </div>
    }
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" (click)="volver()">
      Volver
    </button>
    <hr>
  </footer>
}
