.div_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  height: 100%;
  gap: 10px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 10px;
  width: 350px;
  height: 330px;
  text-align: center;
  overflow: scroll;
  border-radius: 20px;
  border: 2px solid var(--color-text);
  background-color: #3b2820;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align-last: left;
  text-align: justify;
  background:
    radial-gradient(circle 80px at 0 155px,
      rgba(255, 255, 255, .10) 0 60%,
      rgba(255, 255, 255, 0) 61%),
    #552a1a;
  color: var(--color-text);
  font-size: 23px;
  font-weight: 600;
  margin: 0;
  width: 150px;
  height: 145px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid var(--color-text);

  img {
    width: 100%;
    height: 100%;
  }
}

#container>p:only-child {
  width: 250px;
  height: 170px;
  font-size: 40px;
}

#container:has(> p:first-of-type:nth-last-of-type(2)) {
  font-size: 40px;
  margin: 0;
}

#container:has(> p:nth-of-type(2):last-of-type) > p {
  width: 140px;
  height: 120px;
  padding: 0 10px;
}

#container a {
  text-decoration: none;
}

.div_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  div,
  .two-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
      radial-gradient(circle 120px at 350px 200px,
        rgba(255, 255, 255, .10) 0 60%,
        rgba(255, 255, 255, 0) 61%),
      radial-gradient(circle 100px at 0 200px,
        rgba(255, 255, 255, .10) 0 60%,
        rgba(255, 255, 255, 0) 61%),
      var(--color-container);
    border: 1px solid var(--color-text);
    border-radius: 20px;
    padding: 2px 10px;
    margin: 0;
    gap: 10px;

    p {
      margin: 10px 0;
      font-size: 50px;
      font-weight: 600;
      color: var(--color-text);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 2px;
    }

    span {
      background-color: var(--color-input);
      border-radius: 12px;
      padding: 0 10px;
      color: var(--color-text);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 18px;
      font-weight: 600;
    }

    div {
      width: fit-content;
      height: fit-content;
      margin: 0;
      border: none;

      .span_profile {
        background: linear-gradient(to top, #c28a11 30%, #ffc413 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 5px;
        margin: 0;
        font-size: 25px;
      }
    }
  }

  .two-items {
    margin: 0;
  }
}

.div_container_photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 200px;

  hr {
    width: 10%;
    height: 2px;
    background-color: var(--color-text);
  }

  .div_photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid var(--color-text);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}