@if(loading) {
  <app-loading/>
} @else {
  <header>
    <title>TasteByte</title>
  </header>

  @if(isDuenoSupervisor) {
    <div class="div_main">
      <div class="div_data">
        <div>
          <p style="margin: 50px 0 20px 0;">Bienvenido</p>
          <span>{{fullname}}</span>
          <div><span class="span_profile">{{profile | titlecase}}</span></div>
        </div>
      </div>

      <div id="container">
        <p routerLink="/alta-empleado">-Alta Empleado-</p>
        <p routerLink="/alta-mesa">-Alta Mesas-</p>
        <p routerLink="/listado-clientes">-Clientes Pendientes-</p>
      </div>
    </div>
  } @else if(isCocinero) {
    <div class="div_main">
      <div class="div_data">
        <div>
          <p style="margin: 50px 0 20px 0;">Bienvenido</p>
          <span>{{fullname}}</span>
          <div><span class="span_profile">{{profile | titlecase}}</span></div>
        </div>
      </div>

      <div id="container">
        <p routerLink="/alta-plato">-Alta Platos-</p>
        <p routerLink="/cocina">-Cocina-</p>
      </div>
    </div>
  } @else if(isBartender) {
    <div class="div_main">
      <div class="div_data">
        <div>
          <p style="margin: 50px 0 20px 0;">Bienvenido</p>
          <span>{{fullname}}</span>
          <div><span class="span_profile">{{profile | titlecase}}</span></div>
        </div>
      </div>

      <div id="container">
        <p routerLink="/alta-bebida">-Alta Bebidas-</p>
        <p routerLink="/bar">-Bar-</p>
      </div>
    </div>
  } @else if(isMaitre) {
    <div class="div_main">
      <div class="div_data">
        <div>
          <p style="margin: 50px 0 20px 0;">Bienvenido</p>
          <span>{{fullname}}</span>
          <div><span class="span_profile">{{profile | titlecase}}</span></div>
        </div>
      </div>
      <div id="container">
        <p routerLink="/alta-cliente">Alta Clientes</p>
        <p routerLink="/lista-espera">Lista De Espera</p>
      </div>
    </div>
  } @else if(isCliente) {
    <div class="div_main">
      <div class="div_data">
        <div>
          <p style="margin: 20px 0;">Bienvenido</p>
          <span>{{fullname}}</span>
          <div><span class="span_profile">{{ (profile || "").split("_").join(" ") | titlecase }}</span></div>
        </div>
      </div>
      <div id="container">
        <p class="qr-button" (click)="escanearQrEntrada()">-Escanear QR de Entrada-</p>
      </div>
    </div>
  } @else {
    <div class="div_main">
      <div class="div_data">
        <div>
          <p style="margin: 50px 0 20px 0;">Bienvenido</p>
          <span>{{fullname}}</span>
          <div><span class="span_profile">{{profile | titlecase}}</span></div>
        </div>
      </div>

      <div id="container">
        <p routerLink="/pedidos-mozo">-Pedidos-</p>
      </div>
    </div>
  }

  <footer>
    <ion-toolbar>
      <ion-buttons class="ion_btns">
        <ion-button class="btn_logged" (click)="logOut()">Salir</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </footer>
}