@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>TasteByte</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    @if(isDuenoSupervisor) {
      <div class="div_main">
        <div class="div_data">
          <div>
            <p>Bienvenido</p>
            <span>✉️ {{email}}</span>
            <div><span class="span_profile">{{profile | titlecase}}</span></div>
          </div>
        </div>

        <div id="container">
          <p routerLink="/alta-empleado"><img src="assets/home/alta-empleado.png" alt="Alta Empleado"></p>
          <p routerLink="/alta-mesa"><img src="assets/home/alta-mesa.png" alt="Alta Mesa"></p>
          <p routerLink="/listado-clientes"><img src="assets/home/espera.png" alt="Clientes Pendientes"></p>
          <p routerLink="/pedidos-delivery"><img src="assets/home/deliveries.png" alt="Deliveries Pendientes"></p>
        </div>
      </div>
    } @else if(isCocinero) {
      <div class="div_main">
        <div class="div_data">
          <div class="two-items">
            <p>Bienvenido</p>
            <span>✉️ {{email}}</span>
            <div><span class="span_profile">{{profile | titlecase}}</span></div>
          </div>
        </div>

        <div class="div_container_photo">
          <hr>
          <div class="div_photo">
            <img [src]="this.empleadoFoto">
          </div>
          <hr>
        </div>

        <div id="container">
          <p routerLink="/alta-plato"><img src="assets/home/alta-plato.png" alt="Alta Plato"></p>
          <p routerLink="/cocina"><img src="assets/home/cocina.png" alt="Cocina"></p>
        </div>
      </div>
    } @else if(isBartender) {
      <div class="div_main">
        <div class="div_data">
          <div class="two-items">
            <p>Bienvenido</p>
            <span>✉️ {{email}}</span>
            <div><span class="span_profile">{{profile | titlecase}}</span></div>
          </div>
        </div>

        <div class="div_container_photo">
          <hr>
          <div class="div_photo">
            <img [src]="this.empleadoFoto">
          </div>
          <hr>
        </div>

      <div id="container">
        <p routerLink="/alta-bebida"><img src="assets/home/alta-bebida.png" alt="Alta Bebida"></p>
        <p routerLink="/bar"><img src="assets/home/bar.png" alt="Bar"></p>
      </div>
    </div>
  } @else if(isMaitre) {
    <div class="div_main">
      <div class="div_data">
        <div class="two-items">
          <p>Bienvenido</p>
          <span>✉️ {{email}}</span>
          <div><span class="span_profile">{{profile | titlecase}}</span></div>
        </div>
      </div>

      <div class="div_container_photo">
        <hr>
        <div class="div_photo">
          <img [src]="this.empleadoFoto">
        </div>
        <hr>
      </div>

      <div id="container">
        <p routerLink="/alta-cliente"><img src="assets/home/alta-cliente.png" alt="Alta Cliente"></p>
        <p routerLink="/lista-espera"
          [queryParams]="{ from: 'maitre' }"
          routerDirection="forward">
          <img src="assets/home/espera.png" alt="Lista de Espera">
        </p>
      </div>
    </div>
  }
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" (click)="logOut()">
      Salir
    </button>
    <hr>
  </footer>
}