@if(loading) {
  <app-loading/>
} @else {
  <header>
    <title>TasteByte</title>
  </header>

  @if(isDuenoSupervisor) {
    <ion-content>
      <div id="container">
        <p routerLink="/alta-empleado">Alta Empleado</p>
        <p routerLink="/alta-mesa">Alta Mesas</p>
        <p routerLink="/listado-clientes">Clientes Pendientes</p>
      </div>
    </ion-content>
  } @else if(isCocinero) {
    <ion-content>
      <div id="container">
        <p routerLink="/alta-plato">Alta Platos</p>
      </div>
    </ion-content>
  } @else if(isBartender) {
    <ion-content>
      <div id="container">
        <p routerLink="/alta-bebida">Alta Bebidas</p>
      </div>
    </ion-content>
  } @else if(isMaitreCliente) {
    <ion-content>
      <div id="container">
        <p routerLink="/alta-cliente">Alta Clientes</p>
        <p routerLink="/lista-espera">Lista De Espera</p>
        <p routerLink="/listado-mesas">Lista De Mesas</p>
        <p [routerLink]="['/mesa-ocupada']" [queryParams]="{ tableId: 1 }">Mesas</p>
      </div>
    </ion-content>
  } @else {
    <ion-content>
      <div id="container">
        <p routerLink="/pedidos-mozo">Pedidos</p>
      </div>
    </ion-content>
  }

  <footer>
    <ion-toolbar>
      <ion-buttons class="ion_btns">
        <ion-button class="btn_logged" (click)="logOut()">Salir</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </footer>
}