@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Listado de Mesas</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let mesa of mesas">
        <ion-label>
          <h2 class="h2">Mesa #{{ mesa.numero }}</h2>
          <p>Capacidad: {{ mesa.capacidad }} - Tipo: {{ mesa.tipo }}</p>
        </ion-label>
        <div>
          <qrcode [qrdata]="mesa.qr_contenido" [width]="120"></qrcode>
        </div>
        <ion-button slot="end" class="btn_asignar" (click)="seleccionarMesa(mesa)">
          Asignar
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" (click)="cerrar()" routerLink="/home">
      Volver
    </button>
    <hr>
  </footer>
}
