.ion_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_logged {
  font-size: 20px;
  font-weight: 1000;
}

.btn_asignar {
  --background: #554738;
  --color: white;
}

.h2 {
  color: #554738;
  font-weight: 600;
  font-size: 18px;
}
