.loading,
.error,
.vacio {
  padding: 1rem;
  text-align: center;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

.vacio {
  color: var(--color-text);
  background-color: var(--color-input);
  border-radius: 10px;
  margin: 0 0 30px 0;
  padding: 20px;
}

.div_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .div_pedidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-btn-primary);
    border-radius: 12px;
    margin: 25px 0;

    .div_data_pedido {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      gap: 8px;
      margin: 0;
      width: 100%;
      padding: 25px 10px 10px 10px;
      border: 2px solid var(--color-text);
      border-bottom: none;
      border-radius: 12px 12px 0 0;

      .p_mesa {
        font-size: 26px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        background-color: var(--color-btn-secondary);
        padding: 10px 20px;
        border-radius: 30px;
      }

      p {
        color: var(--color-text);
        font-size: 20px;
        font-weight: 600;
        align-self: center;
        margin: 0;

        strong {
          font-size: 16px;
        }
      }

      .items-container {
        width: 100%;
        margin: 5px 0 0 0;

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;
          border-bottom: 2px solid var(--color-input);

          .item-nombre {
            color: var(--color-text);
            font-size: 20px;
            font-weight: 600;
            flex: 1;
          }

          .item-cantidad {
            color: var(--color-text);
            font-size: 17px;
            font-weight: 600;
            background-color: var(--color-container);
            padding: 2px 6px;
            border-radius: 8px;
            min-width: 24px;
            text-align: center;
            margin: 0 8px;
          }

          .item-tiempo {
            color: var(--color-text);
            font-size: 17px;
            font-weight: 600;
            min-width: 40px;
            text-align: right;
          }
        }
      }

      .estado-pedido {
        padding: 4px 8px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
        background-color: var(--color-btn-secondary);
        color: var(--color-text);
        margin: 20px 0;
      }
    }

    .div_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .btn_terminar {
        color: var(--color-text);
        font-size: 25px;
        font-weight: 600;
        align-self: center;
        width: 100%;
        height: 60px;
        margin: 0;
        transition: all 0.2s ease;
        letter-spacing: 2px;
        padding: 10px 0;
        border-radius: 0 0 12px 12px;
        border: 2px solid var(--color-text);
        background-color: var(--color-input);
        cursor: pointer;
      }
    }
  }
}

ion-refresher {
  --color: #554738;
}

ion-refresher-content {
  --color: #554738;
}

.div_img {
  width: 300px;
  height: 400px;
  margin: 0 auto 20px auto;
  border-radius: 12px;
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
