header {
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--color-container);
  padding: 20px 0;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--color-black);
  margin: 20px 0;
}

.input-field {
  --background: transparent;
  --border-width: 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  --highlight-color-focused: transparent;
  width: 280px;
  height: 50px;
}

.input {
  font-size: 20px;
}

ion-button {
  --background: transparent;
  --background-activated: rgba(215, 184, 153, 0.2);
  --color: var(--color-text);
  --border-color: var(--color-text);
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 12px;
  border-radius: 12px;
  font-weight: 600;
  height: 44px;
  width: 280px;
}

.btn_photo {
  --background: var(--color-btn-secondary);
  --color: var(--color-text);
  font-size: 18px;
}

.foto-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      margin-bottom: 10px;
      border: 1px solid var(--color-text);
    }
  }
}

.btn_scan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  border-radius: 0 0 10px 10px;
  font-size: 20px;
  background:
    radial-gradient(circle 100px at 140px 20px,
      rgba(255, 255, 255, .10) 0 60%,
      rgba(255, 255, 255, 0) 61%),
    var(--color-btn-primary);
  border: 1px solid var(--color-text);
  margin: -10px 0 0 0;

  span {
    transform: translateY(-2.5px);
  }
}

.btn_registrar {
  --background: #554738 !important;
  color: white !important;
  --border-radius: 12px;
}

.error,
.error2 {
  text-align: center;
  color: var(--color-error);
  font-weight: 800;
  text-shadow: -1px 3px var(--color-black);
}

.error2 {
  margin-top: -10px;
}

.input-field-dni,
.dni {
  border-radius: 12px 12px 0 0 !important;
}