@if(loading) {
  <app-loading/>
} @else {
  <header>
    <img src="assets/icon/cubiertos.png">
    <title>Deliveries Pendientes</title>
    <img src="assets/icon/cubiertos.png">
  </header>

  <ion-content class="ion-padding">
    @if(rows.length > 0) {
      <div class="div_list">
        <div class="item" *ngFor="let r of rows">
          <div class="item-first-part">
            <div class="div_img">
              <img src="assets/images/delivery-pendientes.png">
            </div>
            <div class="item-data">
              <p class="email">✉️ {{ r.cliente_email }}</p>
              <p>📍 {{ r.delivery_direccion }}</p>
              <p>🕒 {{ r.created_at | date:'dd/MM/yyyy HH:mm' }}</p>
              <p>💸 {{ r.total | currency:'ARS':'symbol-narrow':'1.0-0' }}</p>
            </div>
          </div>

          <div class="item-btns">
            <button class="aprove" *ngIf="r.estado==='pendiente'" (click)="aceptar(r)">Aceptar</button>
            <button class="quit" *ngIf="r.estado==='pendiente'" (click)="rechazar(r)">Rechazar</button>
            <button class="aprove" *ngIf="r.estado==='aceptado'" (click)="entregar(r)">Entregar</button>
            <button class="aprove" *ngIf="r.estado==='impagado'" (click)="validarPago(r.id)">Validar Pago</button>
          </div>
        </div>
      </div>
    } @else {
      <div #vacio class="empty">
        <p class="p_clientes">No hay Pedidos de Deliveries</p>
        <img src="assets/images/espera.png">
      </div>
    }
  </ion-content>

  <footer>
    <hr>
    <button class="btn_footer" routerLink="/home">
      Volver
    </button>
    <hr>
  </footer>
}

<app-factura #facturaCmp [data]="facturaData" class="pdf-host"></app-factura>