@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --ion-color-primary: #554738;
  --ion-color-secondary: #d3a87c; 
  --ion-color-tertiary: #7b5e40;
  --ion-color-light: #e6d5c3;
  --ion-color-medium: #9b8a78;
  --ion-color-dark: #3b2d20;
}

ion-card {
  border-radius: 12px;
  --background: #f9f4ef;
  --color: #554738;
}

ion-header {
  margin: 50px 0 0 0;
  text-align: center;
}

ion-title {
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  padding: 25px 0;
  background-color: #e6dacd;
  border-bottom: 2px solid black;
  text-align: center;
}

title {
  font-weight: 800;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 0 0 50px 0;
  border-top: 2px solid black;
  color: black;
  background-color: #e6dacd;
  padding: 10px 0;
}

ion-toolbar {
  --background: #e6dacd;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #bb714e;
}

.profile-select {
  width: 100%;
  border-radius: 12px;
  padding: 0.75rem 1rem;
  border: 1px solid #d7b899;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  color: #554738;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 44px;
}

.profile-select:focus {
  outline: none;
  background-color: #554738;
  color: white;
  border-color: #c5a076;
}

.profile-select option {
  color: #554738;
  background-color: rgba(255, 255, 255, 0.883);
}

.toast {
  --background: #bb714e;
  --color: #554738;
  font-weight: 600;
  font-size: 16px;
  --border: 2px solid white;
  --border-radius: 12px;
  margin-top: 50px;
  padding: 10px 0;
  text-align: center;
}

ion-toast.toast::part(button) {
  color: white;
  border-radius: 12px;
  font-weight: 600;
  background-color: #554738;
  text-align: center;
}